@media screen and (min-width: 100px) and (max-width: 670px)  {


    .input-w{
        width: 86%;
    position: relative;
    left: 4%;
    
    }
    
    .box-film{
        width: 100%;
        background-color: #60606045;
        max-width: 800px;
        margin: 0 auto;
        border-radius: 10px;
        height: 280px;
        min-height: 280px;
        max-height: 280px;
    }
    
    
    }