body {
    background-color: #006dba;
}
.registerform input{
    background-color: darkcyan;
    display: flex;
    width: 60%;
    align-items: center;
    position: inherit;
    margin: auto;
    border: 0;
    border-radius: 4px;
}

.registerform {
    display: flex;
    flex-direction: column;
}

.registerform label {
    display: flex;
}

.registerform a {
    text-decoration: none;
    color: blue;
}

.register-box {
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: inherit;
    border: 10px;
    background-color: #5f85a0;
    margin: 100px auto;
    width: 60%;
    border-radius: 10px;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
}

.btn {
    width: 15%;
    margin: auto;
    border-radius: 5px;
    margin-top: 30px;
    border: 0;
}
